/* ================================= 
  Flexbox
==================================== */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-arround;
}

.github {
  order: -1;
}

.practice {
  order: 2;
}

.iframe {
  flex-basis: fit-content;
}


