
/* ================================= 
  Page Styles
==================================== */

body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
	color: NULL;
	background: lightgrey;
	padding-left: 5%;
	padding-right: 5%;
}

h3 {
    color: blue;
}

p {
    float: none;
    color: red;
    font: ;
}

li {
    font-size: 15px;
    font-family: 'Tmes New Roman', Times, serif;
    margin-bottom: .5em;
}


a:link {
    font-size: 16px;
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

 a:visited {
    color: green;
    background-color: transparent;
   text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
   text-decoration: underline;
}

iframe {
  float: none;
  border-radius: 1.5em;
}

.container {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin: 45px auto;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}
