
h2 {
	font-size: 2.5rem;
}

h4 {
	color:  #990073;
	text-align: center;
	font-size: 1.50em;
	font-style: garamond;
	font-weight: lighter;
}

/*h5.bb-docs {*/
/*  font-size: .85rem;*/
/*  font-family: "MozTT", Sans-serif;*/
/*  font-weight: lighter;*/
/*  color: #666;*/
/*  margin: -0.1rem 0 0;*/
/*  background-color: #f5f5f5;*/
/*  padding: 0.4rem 0.4rem 0.4rem 0rem;*/
/*  border: solid 0.1rem #e8e8e8;*/
/*}*/

div.bb-docs.dark {
  background: #000;
}



/* =================================
  Page Styles
==================================== */

body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
	background: lightgrey;
	padding-left: 5%;
	padding-right: 5%;
}

h3 {
    color: blue;
}

h6 {
	font-family: comic serif MS;
	font-size: 15px;
	font-style: italic;
}

/*p {*/
/*    font-style: italic;*/
/*    font-family: "Montserrat", cursive, serif;*/
/*    font-size: 17px;*/
/*    color: #A52A2A;*/
/*}*/

/*span {*/
/*	font-style: normal;*/
/*	font-family: "Comic Sans MS", cursive, sans-serif;*/
/*	font-size: 14px;*/
/*	color: black;*/
/*}*/



a {
    font-size: 18px;
    color: purple;
    background-color: transparent;
    text-decoration: none;
    margin: 20px 0 20px 0;
}

a:visited {
  color: green;
   background-color: transparent;
   text-decoration: none;

}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
   text-decoration: underline;
}

iframe {
  float: none;
  border-radius: 1.5em;
}

.container {
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    margin: 45px auto;
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
}

h5 {
    display: compact;
    font-size:.85rem;
    font-family: "Sans-serif" arial, 
    text-align: center;
}

#cartoon {
	padding: 10px 0 10px 0;
	border: none;
}

#gitandGithubHeader {
	padding: 25px 0 10px 0;
}

/* =====================================================
       Customized Bootstrap sytle
========================================================*/

.jumbotron {
  background-image: url('../img/scrolling_HTML_code.png');
  padding: 10px;
  border-radius: 5px;
  margin-top: 5rem;
}

.navbar .navbar-brand {
  color: rgba(102, 115, 128, 1);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.col-md {
  min-width: 200px;
}

.btn-group {
	align-content: space-between;
}
/********************************************************
    Media Queries
**********************************************************  */
// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { .
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

 }



/********************************************************
    Kate Styles
**********************************************************  */

.section {
    background-color: #ffffff;
    border-radius: 15px;
}

.section_list {
    list-style: none;
}

.section_list--item {
    display:flex;
    flex-direction: column
}

.link--wrapper a {
 
}

.link--wrapper {

}

.link--notes {
    font-style: italic;
    font-family: "Montserrat", cursive, serif;
    font-size: 17px;
    color: #A52A2A;
    padding: 15px 15px 20px 10px;
}

.link--description {
    font-style: normal;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
    color: black;
    padding-right: 15px;
}

.footer {
    display: none;
}

.section--img {
    text-align: center;
    
}

.section_list--img {
    padding: 10px 5px 20px 15px;
    
}



/********************************************************
    Tablet/ Desktop
***********************************************************/
@media (min-width: 768px) {
    .section_list--item {
        flex-direction: row;
    }
    
    .section_list--item > * {
        width: 50%;
    }
    
    .link--description {
        padding-right: 5rem;
    }
}

/***************************************************************
    Large Screen Desktop
    
****************************************************************/

@media (min-width: 992px) {
    .link--notes {
    font-size: 22px;
   }

    .link--description {
      font-size: 19px;
    }
    
    a {
    font-size: 23px;
    
}

