
h2 {
	font-size: 2.5rem;
}

h4 {
	color:  #990073;
	text-align: center;
	font-size: 1.50em;
	font-style: garamond;
	font-weight: lighter;
}

div.bb-docs.dark {
  background: #000;
}



/* =================================
  Page Styles
==================================== */

body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;
  background-image: url('../img/scrolling_HTML_code.png');
	/* padding-left: 5%;
	padding-right: 5%; */
}


.wrapper {
	padding-left: 5%;
	padding-right: 5%;
}

h3 {
    color: blue;
    font-size: 1.50rem;
    padding: 0 10px 0 10px;

}

h6 {
	font-family: comic serif MS;
	font-size: 15px;
	font-style: italic;
}


}

a {
    font-size: 18px;
    color: purple;
    background-color: transparent;
    text-decoration: none;
    margin: 20px 0 20px 0;
}

a:visited {
  color: green;
   background-color: transparent;
   text-decoration: none;

}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
   text-decoration: underline;
}

/*iframe {*/
/*  float: none;*/
/*  border-radius: 1.5em;*/
/*}*/

/*.container {*/
/*    padding: 10px;*/
/*    background: #fff;*/
/*    border-radius: 5px;*/
/*    margin: 45px auto;*/
/*    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);*/
/*}*/

h5 {
    display: compact;
    font-size: 75%;
    font-family: "Sans-serif" arial,

}


/* .nav-navbar {
	margin-top: 5px;
}

.nav-navbar a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	font-size: .95em;
	color: #3acec2;

} */

.navbar {
	z-index: 1;
  /* overflow: hidden; */
}

nav ul{
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
	margin: 0;
  padding: 0;
}
nav li{
  list-style-type: none;
  padding: 0;
  border-top: 1px solid #000;
}
nav a{
  color: #e20943;
	font-weight: bold;
	font-size: 20px;
  text-decoration: none;
  display: block;
	margin: 0;
}

nav li:hover {
	background-color: #ddd;
	text-transform: uppercase;
}

nav a:hover {
	color: purple;
}

nav a:visited {
	color: red;
}
/* =====================================================
       Customized Bootstrap sytle
========================================================*/

.jumbotron {
  padding: 20px 0 20px 0;
	background-color:  #eaf1f2;
  border-radius: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.jumbotron h1 {
    color: purple;
    font-size: 2.6rem;
}

.jumbotron p {
    background: white;
    font-size: 1.75rem;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
}

.jumbotron .section {
	background-color: white;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.navbar {
	padding: .5rem 0 0 0;
}

/********************************************************
    Custom Styles
**********************************************************  */

.section {
    background-color: #eaf1f2;
    border-radius: 15px;
		border-bottom: 50px;
}

.section_list {
    list-style: none;
}

.section_list--item {
    display:flex;
    flex-direction: column;

}

.link--wrapper a {
}

.link--wrapper {

}

.section--img {
    padding-top: 20px;
    padding-bottom: 30px;
 }

.link--notes {
    font-style: italic;
    font-family: "Montserrat", cursive, serif;
    font-size: 17px;
    color: #A52A2A;
    padding: 15px 15px 20px 10px;
}

.link--description {
    font-style: normal;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
    color: black;
    padding-right: 15px;
}

.footer {
    display: none;
}

.section--img {
    text-align: center;
    padding: 60px 0 20px 0;
}

.section--img, img {
		z-index: -1;
    margin-right: 10px;
		border-radius: 5px;
}

.section_list--img {
		vertical-align: middle;
    position: relative;
    max-width: 98%;
    margin: 0 auto;
    padding: 20px 10px 20px 20px;


}

.section_list--img
.section_list--img--text {
  position: absolute;
  bottom: 5px;
  color: black;
  width: 75%;
  height: auto;
	margin-top: 10px;
  border-radius:5px;
  padding-left: 65px;

 }

.container {
    display: flex;
}
/******************************************************
/        Nav Bar sticky
/******************************************************/

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .wrapper {
  padding-top: 60px;
}


/*******************************************************************************
        Small displays / cell phones
********************************************************************************/

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 240px) {

.section_list--img {
    max-width: 100%;
    }

.section_list--img
.section_list--img--text {
    position: relative;
    font-size: 1.75rem;
    /*max-width: 50%;*/
    /*max-height: 15%;*/

}

@media (max-width: 426px ) {

 .jumbotron h1 {
    font-size: 1.8rem;
    }

.jumbotron p {
    background: white;
    font-size: 1.15rem;
    }
.section_list--img
.section_list--img--text {
		font-size: 1.2rem;
	}
}

@media (max-width: 600px ) {
.jumbotron {
	margin-top: 175px;
	}
}

@media (min-width: 604px ) {
	.jumbotron {
		margin-top: 125px;
	}
}

@media (min-width: 706px ) {
.jumbotron {
	margin-top: 75px;
	}
}

@media only screen and (min-width: 600px) {
	.navbar li{
		display: inline-block;
		padding: 10px;
	}
}




/********************************************************
    Tablet/ Desktop
***********************************************************/
@media (min-width: 768px) {
    .section_list--item {
        flex-direction: row;
    }

    .section_list--item > * {
        width: 50%;
    }

    .link--description {
        padding-right: 5rem;
    }

    .section_list--img {
        max-width: 90%;
    }

    h3 {
        font-size: 1.75rem;
    }

    .main-header,
	.main-nav {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
	}
}

/***************************************************************
    Large Screen Desktop

****************************************************************/

@media (min-width: 1025px) {
    .link--notes {
    font-size: 22px;
   }

    .link--description {
      font-size: 19px;
    }

    a {
    font-size: 23px;
    }

    .section_list--img {
    max-width: 80%;
    }


}
