
body {
    background-color: lightgrey;
}

h3 {
    color: blue;
}
p {
    color: red;
} 

li {
    font-size: 15px;
    font-family: 'Tmes New Roman', Times, serif;
}


a:link {
    font-size: 16px;
    color: purple; 
    background-color: transparent; 
    text-decoration: none;
}

 a:visited {
    color: green;
    background-color: transparent;
   text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
   text-decoration: underline;
}